Debug
Release
exe-snapshots
.vs
base
input-uses-bills-md-format
test
retired
ref
sandpit
temp
treebuilder
template
plan.txt
generated-plan.txt
ws.exe
WingedSpider.vcxproj.filters
WingedSpider.vcxproj.user
